@import '../../../styles/variables';
@import '../../../styles/mixins';

.selectWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-md;
}

.label {
  font-size: $font-size-sm;
  color: var(--text-default); // Use themed color
  margin-bottom: $spacing-sm;
}

.select {
  padding: $spacing-sm;
  font-size: $font-size-base;
  border: 1px solid var(--border-default); // Use themed border color
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  appearance: none; // Hides default select arrow in some browsers

  &:focus {
    border-color: var(--border-focus); // Use themed focus color
  }

  &:disabled {
    background-color: var(--background-disabled); // Use themed background color for disabled state
    color: var(--text-disabled); // Use themed text color for disabled state
    cursor: not-allowed;
  }
}

.selectError {
  border-color: var(--border-error); // Use themed error border color
}

.errorText {
  color: var(--text-error); // Use themed error text color
  font-size: $font-size-sm;
  margin-top: $spacing-sm;
}
