@import 'variables';
@import 'mixins';
@import 'typography';
@import 'utilities';
@import 'colors';


:root {
  /* Light */
  .light-theme {
    --background-disabled: #{$gray200};
    --background-base-default: #{$base-white};
    --background-base-focused: #{$base-white};
    --background-base-hovered: #{$gray100};
    --background-base-loading: #{$gray200};
    --background-base-pressed: #{$gray200};
    --background-default-default: #{$gray100};
    --background-default-focused: #{$gray100};
    --background-default-hovered: #{$gray200};
    --background-default-loading: #{$gray300};
    --background-default-pressed: #{$gray300};
    --background-default-invert-default: #{$gray600};
    --background-default-invert-focused: #{$gray600};
    --background-default-invert-hovered: #{$gray700};
    --background-default-invert-loading: #{$gray800};
    --background-default-invert-pressed: #{$gray800};
    --background-error-default: #{$red600};
    --background-error-focused: #{$red600};
    --background-error-hovered: #{$red700};
    --background-error-loading: #{$red800};
    --background-error-pressed: #{$red800};
    --background-error-invert-default: #{$red100};
    --background-error-invert-focused: #{$red100};
    --background-error-invert-hovered: #{$red200};
    --background-error-invert-loading: #{$red300};
    --background-error-invert-pressed: #{$red300};
    --background-info-default: #{$blue600};
    --background-info-focused: #{$blue600};
    --background-info-hovered: #{$blue700};
    --background-info-loading: #{$blue800};
    --background-info-pressed: #{$blue800};
    --background-info-invert-default: #{$blue100};
    --background-info-invert-focused: #{$blue100};
    --background-info-invert-hovered: #{$blue200};
    --background-info-invert-loading: #{$blue300};
    --background-info-invert-pressed: #{$blue300};
    --background-primary-default: #{$indigo600};
    --background-primary-focused: #{$indigo600};
    --background-primary-hovered: #{$indigo700};
    --background-primary-loading: #{$indigo800};
    --background-primary-pressed: #{$indigo800};
    --background-primary-invert-default: #{$indigo100};
    --background-primary-invert-focused: #{$indigo100};
    --background-primary-invert-hovered: #{$indigo200};
    --background-primary-invert-loading: #{$indigo300};
    --background-primary-invert-pressed: #{$indigo300};
    --background-success-default: #{$green600};
    --background-success-focused: #{$green600};
    --background-success-hovered: #{$green700};
    --background-success-loading: #{$green800};
    --background-success-pressed: #{$green800};
    --background-success-invert-default: #{$green100};
    --background-success-invert-focused: #{$green100};
    --background-success-invert-hovered: #{$green200};
    --background-success-invert-loading: #{$green300};
    --background-success-invert-pressed: #{$green300};
    --background-warning-default: #{$yellow600};
    --background-warning-focused: #{$yellow600};
    --background-warning-hovered: #{$yellow700};
    --background-warning-loading: #{$yellow800};
    --background-warning-pressed: #{$yellow800};
    --background-warning-invert-default: #{$yellow100};
    --background-warning-invert-focused: #{$yellow100};
    --background-warning-invert-hovered: #{$yellow200};
    --background-warning-invert-loading: #{$yellow300};
    --background-warning-invert-pressed: #{$yellow300};
    --border-base: #{$base-white};
    --border-default: #{$gray400};
    --border-disabled: #{$gray300};
    --border-error: #{$red600};
    --border-focus: #{$indigo300};
    --border-info: #{$blue600};
    --border-primary: #{$indigo600};
    --border-success: #{$green600};
    --border-warning: #{$yellow600};
    --surface-base: #{$base-white};
    --text-base: #{$base-white};
    --text-caption: #{$gray600};
    --text-default: #{$gray950};
    --text-disabled: #{$gray400};
    --text-error: #{$red600};
    --text-info: #{$blue600};
    --text-link: #{$blue600};
    --text-loading: #{$gray600};
    --text-placeholder: #{$gray500};
    --text-primary: #{$indigo600};
    --text-success: #{$green600};
    --text-visited: #{$purple600};
    --text-warning: #{$yellow600};
    --text-invert-base: #{$gray950};
    --text-invert-caption: #{$gray100};
    --text-invert-default: #{$base-white};
    --text-invert-error: #{$red100};
    --text-invert-info: #{$blue100};
    --text-invert-link: #{$blue100};
    --text-invert-loading: #{$gray100};
    --text-invert-placeholder: #{$gray500};
    --text-invert-primary: #{$indigo100};
    --text-invert-success: #{$green100};
    --text-invert-visited: #{$purple100};
    --text-invert-warning: #{$yellow100};
  }

  /* Dark */
  .dark-theme {
    --background-disabled: #{$gray800};
    --background-base-default: #{$gray950};
    --background-base-focused: #{$gray950};
    --background-base-hovered: #{$gray900};
    --background-base-loading: #{$gray800};
    --background-base-pressed: #{$gray800};
    --background-default-default: #{$gray900};
    --background-default-focused: #{$gray900};
    --background-default-hovered: #{$gray800};
    --background-default-loading: #{$gray700};
    --background-default-pressed: #{$gray700};
    --background-default-invert-default: #{$gray400};
    --background-default-invert-focused: #{$gray400};
    --background-default-invert-hovered: #{$gray300};
    --background-default-invert-loading: #{$gray200};
    --background-default-invert-pressed: #{$gray200};
    --background-error-default: #{$red400};
    --background-error-focused: #{$red400};
    --background-error-hovered: #{$red300};
    --background-error-loading: #{$red200};
    --background-error-pressed: #{$red200};
    --background-error-invert-default: #{$red900};
    --background-error-invert-focused: #{$red900};
    --background-error-invert-hovered: #{$red800};
    --background-error-invert-loading: #{$red700};
    --background-error-invert-pressed: #{$red700};
    --background-info-default: #{$blue400};
    --background-info-focused: #{$blue400};
    --background-info-hovered: #{$blue300};
    --background-info-loading: #{$blue200};
    --background-info-pressed: #{$blue200};
    --background-info-invert-default: #{$blue900};
    --background-info-invert-focused: #{$blue900};
    --background-info-invert-hovered: #{$blue800};
    --background-info-invert-loading: #{$blue700};
    --background-info-invert-pressed: #{$blue700};
    --background-primary-default: #{$indigo400};
    --background-primary-focused: #{$indigo400};
    --background-primary-hovered: #{$indigo300};
    --background-primary-loading: #{$indigo200};
    --background-primary-pressed: #{$indigo200};
    --background-primary-invert-default: #{$indigo900};
    --background-primary-invert-focused: #{$indigo900};
    --background-primary-invert-hovered: #{$indigo800};
    --background-primary-invert-loading: #{$indigo700};
    --background-primary-invert-pressed: #{$indigo700};
    --background-success-default: #{$green400};
    --background-success-focused: #{$green400};
    --background-success-hovered: #{$green300};
    --background-success-loading: #{$green200};
    --background-success-pressed: #{$green200};
    --background-success-invert-default: #{$green900};
    --background-success-invert-focused: #{$green900};
    --background-success-invert-hovered: #{$green800};
    --background-success-invert-loading: #{$green700};
    --background-success-invert-pressed: #{$green700};
    --background-warning-default: #{$yellow400};
    --background-warning-focused: #{$yellow400};
    --background-warning-hovered: #{$yellow300};
    --background-warning-loading: #{$yellow200};
    --background-warning-pressed: #{$yellow200};
    --background-warning-invert-default: #{$yellow900};
    --background-warning-invert-focused: #{$yellow900};
    --background-warning-invert-hovered: #{$yellow800};
    --background-warning-invert-loading: #{$yellow700};
    --background-warning-invert-pressed: #{$yellow700};
    --border-base: #{$gray950};
    --border-default: #{$gray600};
    --border-disabled: #{$gray700};
    --border-error: #{$red400};
    --border-focus: #{$indigo700};
    --border-info: #{$blue400};
    --border-primary: #{$indigo400};
    --border-success: #{$green400};
    --border-warning: #{$yellow400};
    --surface-base: #{$base-black};
    --text-base: #{$gray950};
    --text-caption: #{$gray400};
    --text-default: #{$base-white};
    --text-disabled: #{$gray600};
    --text-error: #{$red400};
    --text-info: #{$blue400};
    --text-link: #{$blue400};
    --text-loading: #{$gray400};
    --text-placeholder: #{$gray500};
    --text-primary: #{$indigo400};
    --text-success: #{$green400};
    --text-visited: #{$purple400};
    --text-warning: #{$yellow400};
    --text-invert-base: #{$base-white};
    --text-invert-caption: #{$gray900};
    --text-invert-default: #{$gray950};
    --text-invert-error: #{$red900};
    --text-invert-info: #{$blue900};
    --text-invert-link: #{$blue900};
    --text-invert-loading: #{$gray900};
    --text-invert-placeholder: #{$gray500};
    --text-invert-primary: #{$indigo900};
    --text-invert-success: #{$green900};
    --text-invert-visited: #{$purple900};
    --text-invert-warning: #{$yellow900};
  }
}
